<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <style>
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="content">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-picture"></i> Logo</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../Projects">Проекты</a></li>
                </ul>
                <!--TODO: Search Form-->
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-inline">
                        <input type="text" class="form-control" placeholder="Поиск"/>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Везде</a></li>
                                <li><a href="#">Проекты</a></li>
                                <li><a href="#">Люди</a></li>
                            </ul>
                        </div>
                    </div>
                </form>

                <ul class=" nav navbar-nav navbar-right">
                    <li><a href="../Projects/Add">Создать</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">

                            <i class="glyphicon glyphicon-user"></i><span class="caret"></span>
                        </a>
                        <!--TODO: Create dropdown menu-->
                        <ul class="dropdown-menu">
                            <li><a href="#">Везде</a></li>
                            <li><a href="#">Проекты</a></li>
                            <li><a href="#">Люди</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>
<div class="content">
   
    @RenderBody()
</div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/main")
@RenderSection("scripts", false)
</body>
</html>

