@model Eventor_Project.Models.User.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>
            @Html.DisplayFor(model => model.Nickname)
        </legend>


        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.Birthdate)
        @Html.HiddenFor(model => model.Sex)

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nickname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nickname)
            @Html.ValidationMessageFor(model => model.Nickname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Patronymic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Patronymic)
            @Html.ValidationMessageFor(model => model.Patronymic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactEmail)
            @Html.ValidationMessageFor(model => model.ContactEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlaceOfLiving)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlaceOfLiving)
            @Html.ValidationMessageFor(model => model.PlaceOfLiving)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlaceOfStudy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlaceOfStudy)
            @Html.ValidationMessageFor(model => model.PlaceOfStudy)
        </div>

        <p>
            <div class="btn-group right" role="group">
                <input type="submit" class="btn btn-success" value="Сохранить">
            </div>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
