@model Eventor_Project.Models.User.User
@{
    ViewBag.Title = "Информация о пользователе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.Password)
        <fieldset>
                <b>@Html.LabelFor(model => model.Nickname)</b>:
                <div data-toggle="tooltip" data-placement="right">
                    @Html.TextBoxFor(x => x.Nickname, new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Nickname)
                </div> <br/>
            <div align="center">
                <img src="~/images/avatar-default.jpg" class="img-rounded" alt="Sample Image">
            </div>

            <div class="row text-center">
                <div class="col-sm-6 contacts">
                    <h2>Контактные данные:</h2>

                    <b>@Html.LabelFor(model => model.PhoneNumber)</b>:
                    <div data-toggle="tooltip" data-placement="right">
                        @Html.TextBoxFor(x => x.PhoneNumber, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.PhoneNumber)
                    </div> <br/>

                    <b>Публичный E-mail</b>:
                    <div data-toggle="tooltip" data-placement="right">
                        @Html.TextBoxFor(x => x.ContactEmail, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.ContactEmail)
                    </div> <br/>

                    <b>@Html.LabelFor(model => model.Email)</b>:
                    <div data-toggle="tooltip" data-placement="right">
                        @Html.TextBoxFor(x => x.Email, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Email)
                    </div> <br/>

                    <div class="btn-group right" role="group">
                        <input type="submit" class="btn btn-success" value="Сохранить">
                    </div>

                    @*<form action=@Url.Action("NewMessage", "Mail") method="POST">
                    @Html.Hidden("recId", Model.UserId)
                    <div class="btn-group right" role="group">
                        <input type="submit" class="btn btn-primary" value="Новое сообщение">
                    </div>
                </form>*@
                </div>

                <div class="col-sm-6 contacts">
                    <h2>Информация о пользователе:</h2>

                    <b>@Html.LabelFor(model => model.Surname)</b>:
                    <div data-toggle="tooltip" data-placement="right">
                        @Html.TextBoxFor(x => x.Surname, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Surname)
                    </div> <br/>

                    <b>@Html.LabelFor(model => model.Name)</b>:
                    <div data-toggle="tooltip" data-placement="right">
                        @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Name)
                    </div> <br/>

                    <b>@Html.LabelFor(model => model.Patronymic)</b>:
                    <div data-toggle="tooltip" data-placement="right">
                        @Html.TextBoxFor(x => x.Patronymic, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.Patronymic)
                    </div> <br/>

                    <b>@Html.LabelFor(model => model.PlaceOfLiving)</b>:
                    <div data-toggle="tooltip" data-placement="right">
                        @Html.TextBoxFor(x => x.PlaceOfLiving.PlaceInfo, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.PlaceOfLiving.PlaceInfo)
                    </div> <br/>

                    <b>@Html.LabelFor(model => model.PlaceOfStudy)</b>:
                    <div data-toggle="tooltip" data-placement="right">
                        @Html.TextBoxFor(x => x.PlaceOfStudy.PlaceInfo, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.PlaceOfStudy.PlaceInfo)
                    </div> <br/>


                    <b>@Html.LabelFor(model => model.Birthdate)</b>:
                    <div data-toggle="tooltip" data-placement="right" title="Дата рождения">
                        @Html.TextBoxFor(x => x.Birthdate, new {@class = "datepicker-all"})
                        @Html.ValidationMessageFor(x => x.Birthdate)
                    </div> <br/>
                </div>

                <h2> О себе:</h2>
                <div data-toggle="tooltip" data-placement="right">
                    @Html.TextAreaFor(x => x.About, new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.About)
                </div> <br/>
            </div>

        </fieldset>
    </div>
}
