@using System.Runtime.InteropServices.ComTypes
@model IEnumerable<Eventor_Project.Models.User.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-header"><h1>Пользователи</h1></div>
    <div style="margin-bottom: 20px">

        @foreach (var item in Model)
        {
            <div class="media">
                <a href=@String.Format("/id/{0}",@item.UserId) class="pull-left">
                    <img src="~/images/avatar-tiny.jpg" class="media-object" alt="Sample Image">
                </a>
                <div class="media-body">
                    <h4 class="media-heading"> <a href=@String.Format("/id/{0}",@item.UserId)> @item.Surname @item.Name  </a><small>  <i>Ник: (@item.Nickname2)</i></small></h4>
                    <p>
                        @if (item.About.Length > 150)
                        {
                            @String.Format("{0}...", item.About.Substring(0, 150))
                        }
                        else
                        {
                            @item.About
                        }
                    </p>
                </div>
            </div>
        }
    </div>
</div>