@using System.Collections
@model Eventor_Project.Models.ProjectModel.Project
@{
    ViewBag.Title = "Eventor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active col-md-3"><a href="#main" aria-controls="main" role="tab" data-toggle="tab">1. Основное</a></li>
        <li role="presentation" class="col-md-3"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">2. Информация</a></li>
        <li role="presentation" class="col-md-3"><a href="#inventory" aria-controls="inventory" role="tab" data-toggle="tab">3. Инвентарь</a></li>
        <li role="presentation" class="col-md-3"><a href="#moderation" aria-controls="moderation" role="tab" data-toggle="tab">4. Модерация</a></li>
    </ul>
</div>
<div class="container">
    @using (@Html.BeginForm("Edit", "Projects", FormMethod.Post, new { id="project_form"}))
    {

        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.ProjectId)
        @Html.HiddenFor(m => m.AuthorId)
        @Html.HiddenFor(m => m.AddedTime)
        @Html.HiddenFor(m => m.ChangeTime)

        <div class="tab-content">

            <div id="main" class="tab-pane active" role="tabpanel">
                <fieldset>
                    <legend>Введите основную информацию.</legend>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Title)
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ShortDescription)
                        @Html.TextAreaFor(m => m.ShortDescription, new { @class = "form-control", @rows = "3" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Category)
                        @Html.DropDownList("CategoryId", null, new { @class = "form-control" })
                    </div>
                </fieldset>
            </div>
            <div id="information" class="tab-pane" role="tabpanel">
                <fieldset>
                    <legend>Расскажите по подоробнеее.</legend>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = 15 })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Place)
                        @Html.TextBoxFor(m => m.Place, new { @class = "form-control", @placeholder = "Место проведения" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.EventDate)
                        @Html.TextBoxFor(m => m.EventDate, new { @class = "form-control datepicker", @placeholder = "Дата проведения" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Headquarter)
                        @Html.TextBoxFor(m => m.Headquarter, new { @class = "form-control", @placeholder = "Штаб-квартира" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OrganizationDate)
                        @Html.TextBoxFor(m => m.OrganizationDate, new { @class = "form-control datepicker", @placeholder = "Дата организации" })
                    </div>
                </fieldset>
            </div>
            <div id="inventory" class="tab-pane" role="tabpanel">
               <fieldset>
                       <h4>Организаторы</h4>
                       <table class="table">
                           <thead>
                               <tr>
                                   <th class="col-md-2">Кол-во</th>
                                   <th class="col-md-3">Роль</th>
                                   <th>Описание</th>
                                   <th class="col-md-1"></th>
                               </tr>
                           </thead>
                           <tbody data-bind="foreach: organisersModel.organisers">
                               <tr>
                                   <td><input type="text" data-bind="value: RequiredCount" class="form-control"></td>
                                   <td><input type="text" data-bind="value: Name" class="form-control"></td>
                                   <td><input type="text" data-bind="value: Description" class="form-control"></td>
                                   <td><a href="#" class="btn btn-link" data-bind="click: $root.organisersModel.removeOrganizer"><i class="glyphicon glyphicon-remove"></i></a></td>
                               </tr>
                           </tbody>
                       </table>
                       <p>
                           <a href="#" data-bind="click: $root.organisersModel.addOrganizer" class="btn btn-link">Добавить...</a>
                       </p>

                       <h4>Материалы</h4>
                       <table class="table">
                           <thead>
                               <tr>
                                   <th class="col-md-2">Кол-во</th>
                                   <th>Название</th>
                                   <th class="col-md-1"></th>
                               </tr>
                           </thead>
                           <tbody data-bind="foreach: materialsModel.materials">
                               <tr>
                                   <td><input type="text" class="form-control" data-bind="value: Amount"></td>
                                   <td><input type="text" class="form-control" data-bind="value: Title"></td>
                                   <td>
                                       <a href="#" class="btn btn-link" data-bind="click: $root.materialsModel.removeMaterial">
                                           <i class="glyphicon glyphicon-remove"></i>
                                       </a>
                                   </td>
                               </tr>
                           </tbody>
                       </table>
                       <p>
                           <a href="#" data-bind="click: $root.materialsModel.addMaterial" class="btn btn-link">Добавить...</a>
                       </p>

                       <h4>Участники</h4>
                       <table class="table">
                           <thead>
                               <tr>
                                   <th class="col-md-1">Мин. кол-во</th>
                                   <th class="col-md-1">Мак. кол-во</th>
                                   <th class="col-md-3">Роль</th>
                                   <th>Описание</th>
                                   <th class="col-md-1"></th>
                               </tr>
                           </thead>
                           <tbody data-bind="foreach: customersModel.customers">
                               <tr>
                                   <td><input type="text" class="form-control" data-bind="value: MinCount"></td>
                                   <td><input type="text" class="form-control" data-bind="value: MaxCount"></td>
                                   <td><input type="text" class="form-control" data-bind="value: Role"></td>
                                   <td><input type="text" class="form-control" data-bind="value: Description"></td>
                                   <td><a href="#" class="btn btn-link" data-bind="click: $root.customersModel.removeCustomer"><i class="glyphicon glyphicon-remove"></i></a></td>
                               </tr>
                           </tbody>
                       </table>
                       <p>
                           <a href="#" class="btn btn-link" data-bind="click: $root.customersModel.addCustomer">Добавить...</a>
                       </p>
               </fieldset>
            </div>
            <div id="moderation" class="tab-pane" role="tabpanel">
                <fieldset>
                    <legend>4. На модерацию</legend>
                </fieldset>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <a href="#" data-bind="click: $root.save">saves</a>
                    <input type="submit" class="btn btn-success" value="Сохранить">
                    <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Удалить проект</a>
                </div>
            </div>
        </div>
    }
</div>
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/materials")

