@using System.Web.UI.WebControls
@model Eventor_Project.Models.ViewModels.UserRegisterView
@{
    ViewBag.Title = "Информация о пользователе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Index", "Register", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        @Html.HiddenFor(model => model.UserId)
        <fieldset>
            <legend>
                <b>@Html.LabelFor(model => model.Nickname)</b>:
                <div data-toggle="tooltip" data-placement="right">
                    @Html.TextBoxFor(x => x.Nickname, new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Nickname)
                </div> <br/>
            </legend>
            <div align="center">
                <img src="~/images/avatar-default.jpg" class="img-rounded" alt="Sample Image">
            </div>
            <div>
                <h2>Регистрация:</h2>
                <div class="row text-center">
                    <div class="col-sm-6 contacts">
                        <b>@Html.LabelFor(model => model.Name)</b>:
                        <div data-toggle="tooltip" data-placement="right">
                            @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
                            @Html.ValidationMessageFor(x => x.Name)
                        </div> <br/>

                        <b>@Html.LabelFor(model => model.Surname)</b>:
                        <div data-toggle="tooltip" data-placement="right">
                            @Html.TextBoxFor(x => x.Surname, new {@class = "form-control"})
                            @Html.ValidationMessageFor(x => x.Surname)
                        </div> <br/>

                        <b>@Html.LabelFor(model => model.Email)</b>:
                        <div data-toggle="tooltip" data-placement="right">
                            @Html.TextBoxFor(x => x.Email, new {@class = "form-control"})
                            @Html.ValidationMessageFor(x => x.Email)
                        </div> <br/>
                    </div>

                    <div class="col-sm-6 contacts">
                        <b>@Html.LabelFor(model => model.ConfirmPassword)</b>:
                        <div data-toggle="tooltip" data-placement="right">
                            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        </div> <br />

                        <b>@Html.LabelFor(model => model.Password)</b>:
                        <div data-toggle="tooltip" data-placement="right">
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Password)
                        </div> <br />



                        <b>@Html.LabelFor(model => model.PhoneNumber)</b>:
                        <div data-toggle="tooltip" data-placement="right">
                            @Html.TextBoxFor(x => x.PhoneNumber, new {@class = "form-control"})
                            @Html.ValidationMessageFor(x => x.PhoneNumber)
                        </div> <br/>

                    </div>
                </div>
                <h2> О себе:</h2>
                <div data-toggle="tooltip contacts" data-placement="right">
                    @Html.TextAreaFor(x => x.About, new {@class = "form-control ", @rows = 5})
                    @Html.ValidationMessageFor(x => x.About)
                </div> <br/>

            </div>
            <div class="form-group text-center" role="group">
                <button type="submit" class="btn btn-success btn-vlg"> Зарегистрироваться! </button>
            </div>
        </fieldset>

    </div>
}
