@model IEnumerable<Eventor_Project.Models.User.Message>

@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Входящие</h1>


    @foreach (var item in Model.Where(u => u.ReceiverId == ViewBag.CurrentUser.UserId).OrderByDescending(u => u.DepartureTime))
    {
        <tr>
            <td>
                <h3>
                    @String.Format("Тема: {0}", item.Topic)
                </h3>
            </td>
        </tr>
        <tr>
            <td>
                Отправитель: <a href=@String.Format("/id/{0}",item.SenderId)>@item.SenderNick</a> (id: @item.SenderId)
                <br/>
                @String.Format("Сообщение: {0}", item.Text)
            </td>
        </tr>
        
        <form action=@Url.Action("NewMessage", "Mail") method="POST">
            @Html.Hidden("recId", item.SenderId)
            @Html.Hidden("prevMessageId", item.MessageId)
            <div class="btn-group right" role="group">
                <input type="submit" class="btn btn-default" value="Ответить">
            </div>
        </form>
    }


<h1>Исходящие</h1>
    @foreach (var item in Model.Where(u => u.SenderId == ViewBag.CurrentUser.UserId).OrderByDescending(u => u.DepartureTime))
    {
        <tr>
            <td>
                <h3>
                    @String.Format("Тема: {0}. ", item.Topic)
                </h3>
            </td>
        </tr>
        <tr>
            <td>
                Получатель: <a href=@String.Format("/id/{0}",item.ReceiverId)>@item.ReceiverNick</a> (id: @item.ReceiverId)
                <br />
                @String.Format("Сообщение: {0}", item.Text)
            </td>
        </tr>
    }


