@model IEnumerable<Eventor_Project.Models.User.Message>

@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div style="width: 49%; float: left" align="center">
        <h1>Входящие</h1>
        @foreach (var item in Model.Where(u => u.ReceiverId == ViewBag.CurrentUser.UserId).OrderByDescending(u => u.DepartureTime))
        {
            <div id=@String.Format("openModal{0}",item.MessageId) class="modalDialog">

                <div class="panel panel-default" style="max-height: none">
                    <a href="#close" title="Закрыть" class="close">X</a>
                    <div class="panel-heading">
                        <b>@item.Topic</b>
                        <p>
                            <i class="glyphicon glyphicon-user"></i> <a href=@String.Format("/id/{0}", item.SenderId)>@item.SenderNick</a>
                        </p>
                        <p><i class="glyphicon glyphicon-calendar"></i> @item.DepartureTime</p>
                    </div>
                    <div class="panel-body">
                        <p class="card-message"> @item.Text </p>

                    </div>
                    <div class="panel-footer">
                        <form action=@Url.Action("NewMessage", "Mail") method="POST">
                            @Html.Hidden("recId", item.SenderId)
                            @Html.Hidden("prevMessageId", item.MessageId)
                            <div class="btn-group right" role="group">
                                <a href="#close" title="Закрыть" class="btn btn-primary">Закрыть</a>
                                <input type="submit" class="btn btn-default" value="Ответить">
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="card-message panel panel-default card">
                <div class="panel-heading card-title">
                    <b>@item.Topic</b>
                    <p class="card-user">
                        <i class="glyphicon glyphicon-user"></i> <a href=@String.Format("/id/{0}", item.SenderId)>@item.SenderNick</a>
                    </p>
                    <p class="card-date"><i class="glyphicon glyphicon-calendar"></i> @item.DepartureTime</p>
                </div>
                <div class="panel-body card-message-body">
                    <p class="card-message">
                        @item.Text
                    </p>

                    </div>
                    <div class="panel-footer">
                        <form action=@Url.Action("NewMessage", "Mail") method="POST">
                            @Html.Hidden("recId", item.SenderId)
                            @Html.Hidden("prevMessageId", item.MessageId)
                            <div class="btn-group right" role="group">
                                <a class="btn btn-default" href=@String.Format("#openModal{0}", item.MessageId)>
                                    Открыть сообщение
                                </a>
                                <input type="submit" class="btn btn-default" value="Ответить">
                            </div>
                        </form>
                    </div>
                </div>
        }
    </div>

    <div style="width: 49%; float: right" align="center">
        <h1>Исходящие</h1>
        @foreach (var item in Model.Where(u => u.SenderId == ViewBag.CurrentUser.UserId).OrderByDescending(u => u.DepartureTime))
        {
            <div id=@String.Format("openModal{0}",item.MessageId) class="modalDialog">

                <div class="panel panel-default" style="max-height: none">
                    <a href="#close" title="Закрыть" class="close">X</a>
                    <div class="panel-heading">
                        <b>@item.Topic</b>
                        <p>
                            <i class="glyphicon glyphicon-user"></i> <a href=@String.Format("/id/{0}", item.ReceiverId)>@item.ReceiverNick</a>
                        </p>
                        <p><i class="glyphicon glyphicon-calendar"></i> @item.DepartureTime</p>
                    </div>
                    <div class="panel-body">
                        <p class="card-message"> @item.Text </p>
                    </div>
                    <div class="panel-footer">
                        <form action=@Url.Action("NewMessage", "Mail") method="POST">
                            @Html.Hidden("recId", item.SenderId)
                            @Html.Hidden("prevMessageId", item.MessageId)
                            <div class="btn-group right" role="group">
                                <a href="#close" title="Закрыть" class="btn btn-primary">Закрыть</a>
                                <input type="submit" class="btn btn-default" value="Написать ещё">
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="card-message panel panel-default card">
                <div class="panel-heading card-title">
                    <b>@item.Topic</b>
                    <p class="card-user">
                        <i class="glyphicon glyphicon-user"></i> <a href=@String.Format("/id/{0}", item.ReceiverId)>@item.ReceiverNick</a>
                    </p>
                    <p class="card-date"><i class="glyphicon glyphicon-calendar"></i> @item.DepartureTime</p>
                </div>
                <div class="panel-body card-message-body">
                    <p class="card-message">
                        @item.Text
                    </p>

                    </div>
                <div class="panel-footer">



                    <form action=@Url.Action("NewMessage", "Mail") method="POST">
                        @Html.Hidden("recId", item.SenderId)
                        @Html.Hidden("prevMessageId", item.MessageId)
                        <div class="btn-group right" role="group">
                            <a class="btn btn-default" href=@String.Format("#openModal{0}", item.MessageId)>
                                Открыть сообщение
                            </a>
                            <input type="submit" class="btn btn-default" value="Написать ещё">
                        </div>
                    </form>
                </div>
                </div>
        }
    </div>

    </div>
