@{
    ViewBag.Title = "NewMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model Eventor_Project.Models.ViewModels.MessageView
<div class="container">
    <h2>Новое сообщение</h2>
    @using (Html.BeginForm("SendMessage", "Mail", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div id="main" class="tab active">
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>
                    @String.Format("Получатель: '{0}' (id: {1})", Model.ReceiverNick, Model.ReceiverId)
                </legend>
                @Html.HiddenFor(m => m.SenderId)
                @Html.HiddenFor(m => m.ReceiverId)
                @Html.HiddenFor(m => m.ReceiverNick)
                @Html.HiddenFor(m => m.SenderNick)

                <div class="form-group">
                    @Html.LabelFor(m => m.Topic, "Тема сообщения")
                    @Html.TextBoxFor(m => m.Topic, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Topic)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Text, "Текст собщения")
                    @Html.TextAreaFor(m => m.Text, new { @class = "form-control", @rows = "3" })
                    @Html.ValidationMessageFor(m => m.Text)
                </div>


                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        Отправить
                    </button>
                </div>

            </fieldset>
            @*@if (Model.PrevMessage != null)
                {
                    @String.Format("Предыдущее сообщение:")
                    <br />
                    @(String.Format("Отправитель: {0} (id: {1})", Model.PrevMessage.SenderNick, Model.PrevMessage.SenderId))
                    <br />
                    @(String.Format("Сообщение: {0}", Model.PrevMessage.Text))
                }*@


        </div>
    }
</div>